<ul class="main-menu">
    <li class="products-menu">
        <a href="todo">Projects</a>
        <div class="drop-menu">
            <div class="wrapper">
                <div class="col-three menu-column">
                    <ul>
                        <li class="submenu-head"><a href="/project/artemis/">Artemis</a>
                            <div class="submenu">
                                <ul class="eual-height">
                                    <li><a href="/project/artemis/features/">Core Features</a></li>
                                    <li><a href="/project/artemis/documentation/">Documentation</a></li>
                                    <li><a href="/project/artemis/download/">Download</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-three menu-column">
                    <ul>
                        <li class="submenu-head"><a href="/project/classic/">Classic</a>
                            <div class="submenu">
                                <ul class="eual-height">
                                    <li><a href="/project/classic/features/">Core Features</a></li>
                                    <li><a href="/project/classic/documentation/">Documentation</a></li>
                                    <li><a href="/project/classic/download/">Download</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-three menu-column">
                    <ul>
                        <li class="submenu-head"><a href="/project/sub/">Sub Projects</a>
                            <div class="submenu">
                                <ul class="eual-height">
                                    <li><a href="/project/sub/nms">NMS</a></li>
                                    <li><a href="/project/sub/cms">CMS</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li class="clients-menu"><a href="/clients">Clients</a>
        <div class="drop-menu">
            <div class="wrapper">
                <div class="col-one menu-column">
                    <ul>
                        <li class="submenu-head"><a href="/clients/#byprotocol">By Protocol</a>
                            <div class="submenu">
                                <ul class="eual-height col-two">
                                    <li><a href="/clients/#core">Core</a></li>
                                    <li><a href="/clients/#openwire">OpenWire</a></li>
                                    <li><a href="/clients/#amqp">AMQP</a></li>
                                    <li><a href="/clients/#mqtt">MQTT</a></li>
                                </ul>
                                <ul class="eual-height col-two">
                                    <li><a href="/clients/#core">STOMP</a></li>
                                    <li><a href="/clients/#openwire">REST</a></li>
                                    <li><a href="/clients/#amqp">XMPP</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li class="community-menu"><a href="todo">Community</a>
        <div class="drop-menu">
            <div class="wrapper">
                <div class="col-three menu-column">
                    <ul>
                        <li class="submenu-head"><a href="todo">Users</a>
                            <div class="submenu">
                                <ul class="eual-height col-one">
                                    <li><a href="todo">User Mailing List</a></li>
                                    <li><a href="todo">Support</a></li>
                                    <li><a href="todo">Learning Material</a></li>
                                    <li><a href="todo">Used By</a></li>
                                    <li><a href="todo">Security Advisories</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-three menu-column">
                    <ul>
                        <li class="submenu-head"><a href="todo">Developers</a>
                            <div class="submenu">
                                <ul class="eual-height col-one">
                                    <li><a href="todo">Developer Mailing List</a></li>
                                    <li><a href="todo">Source</a></li>
                                    <li><a href="todo">Issues</a></li>
                                    <li><a href="todo">Contributing</a></li>
                                    <li><a href="todo">Becoming a Committer</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-three menu-column">
                    <ul>
                        <li class="submenu-head"><a href="todo">Other</a>
                            <div class="submenu">
                                <ul class="eual-height col-one">
                                    <li><a href="todo">IRC</a></li>
                                    <li><a href="todo">Twitter</a></li>
                                    <li><a href="todo">Blog</a></li>
                                    <li><a href="todo">Stack Overflow</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li class="training-menu"><a href="/team">Team</a>
        <div class="drop-menu">
            <div class="wrapper">
                <div class="col-four menu-column">
                    <ul>
                        <li class="submenu-head"><a href="/team/#contributors">Contributors</a></li>
                    </ul>
                </div>
                <div class="col-four menu-column">
                    <ul>
                        <li class="submenu-head"><a href="/team/#committers">Committers</a></li>
                    </ul>
                </div>
                <div class="col-four menu-column">
                    <ul>
                        <li class="submenu-head"><a href="/team/#pmc">PMC</a></li>
                    </ul>
                </div>
                <div class="col-four menu-column">
                    <ul>
                        <li class="submenu-head"><a href="/reports">Reports</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li class="mobile-only"><a href="todo">Community</a></li>
    <li class="mobile-only"><a href="/blog/">Blogs</a></li>
    <li class="mobile-only"><a href="/partners/">Partners </a></li>
    <li class="mobile-only"><a href="/contact-us/">Contact Us</a></li>
    <li><button class="button-default button-maroon trigger-top-form" id="get-started">Get Started</button></li>

</ul>