@charset "UTF-8";
/* ==========================================================================
CSS Reset
========================================================================== */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box; }

ul, li {
    padding: 0;
    margin: 0;
    list-style: none; }

h1, h5, h6, p, ul, li, header, nav, section, button {
    margin: 0;
    padding: 0;
    border: 0; }

a {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none; }

img {
    vertical-align: top;
    max-width: 100%;
    height: auto; }

body {
    background: white;
    line-height: 1;
    color: #404041; }

button:focus {
    outline: none; }

/* ==========================================================================
SCSS Variables and Mixins
========================================================================== */
/* ==========================================================================
Typography and Buttons
========================================================================== */

.white-text {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 14px; }

.maroon-text {
    color: #a82259 !important; }

.title-text {
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 14px; }

.bold {
    font-weight: 700; }

p {
    color: #404041; }

.white {
    color: #ffffff; }

a {
    color: #c12766;
    text-transform: none; }

body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

h1 {
    font-size: 50px;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase; }

h2 {
    font-size: 30px;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase; }


h5 {
    font-size: 22px;
    line-height: 24px;
    font-family: "Roboto", sans-serif; }

h6 {
    font-size: 16px;
    line-height: 22px;
    font-family: "Roboto", sans-serif; }

p {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    line-height: 28px; }

.text-center {
    text-align: center; }

.button-default, .button-white, .button-maroon {
    display: inline-block;
    border: 2px solid white;
    padding: 11px 16px 11px 21px;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    letter-spacing: 0.05em;
    background: transparent;
    margin-top: 25px;
    cursor: pointer;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    transition: all 0.3s ease-in-out; }
.button-default:hover, .button-white:hover, .button-maroon:hover  {
    background: #a82259;
    color: #ffffff; }

.button-white {
    background: transparent;
    border-color: #ffffff;
    color: #ffffff; }
.button-white:hover {
    background: #ffffff;
    border-color: #ffffff;
    color: #a82259; }

.button-maroon {
    background: #c12766;
    border-color: #c12766;
    color: white; }
.button-maroon:hover {
    background: #ffffff;
    border-color: #c12766;
    color: #c12766; }

/* ==========================================================================
Layout and Structure
========================================================================== */
section {
    width: 100%;
    position: relative;
    padding: 92px 0;
    float: left; }

.wrapper {
    max-width: 1400px;
    padding: 0 40px;
    margin: 0 auto;
    width: 100%; }

.wrapper:after, header:after, .col-two:after, .col-three:after, .col-four:after, .three-col-row:after, ul:after, .submenu:after, section:after {
    content: "";
    clear: both;
    display: block; }

.no-padding {
    padding: 0 !important; }

.col-two {
    width: 50%;
    float: left;
    position: relative;
    height: 100%; }

.col-three {
    width: 33.33%;
    float: left;
    position: relative;
    height: 100%; }

.col-four {
    width: 25%;
    float: left;
    position: relative;
    height: 100%; }

.v-middle-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }

.v-middle-inner {
    display: table;
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%; }

.v-middle {
    display: table-cell;
    vertical-align: middle; }

.bg-img {
    overflow: hidden;
}


.bg-img img {
    transition: all 0.5s ease; }

/* ==========================================================================
Filter Tabs
========================================================================== */

/* Filter videos */





/* ==========================================================================
Transitions and Overlays
========================================================================== */

/* ==========================================================================
Form Styles
========================================================================== */

/* --- styles for the Prev and Next Article titles --- */

/* --- end Prev and Next Article titles --- */

/*  Larger Screen Styling */

/* ==========================================================================
ACF Section: 'Statistics Block' | product-result-statistics.php | statistics-block.php
========================================================================== */

/* ==========================================================================
ACF Section: 'Quote Block' | quote-block.php | quote-banner.php
========================================================================== */
.customer-banner .button-default:not(:hover), .customer-banner .button-white:not(:hover), .customer-banner .button-green:not(:hover), .customer-banner .button-orange:not(:hover), #quote-banner .button-default:not(:hover), #quote-banner .button-white:not(:hover), #quote-banner .button-green:not(:hover), #quote-banner .button-orange:not(:hover), #hero-banner .button-default:not(:hover), #hero-banner .button-white:not(:hover), #hero-banner .button-green:not(:hover), #hero-banner .button-orange:not(:hover) {
    color: white !important; }
.customer-banner .button-default:not(:hover):hover, .customer-banner .button-white:not(:hover):hover, .customer-banner .button-green:not(:hover):hover, .customer-banner .button-orange:not(:hover):hover, #quote-banner .button-default:not(:hover):hover, #quote-banner .button-white:not(:hover):hover, #quote-banner .button-green:not(:hover):hover, #quote-banner .button-orange:not(:hover):hover, #hero-banner .button-default:not(:hover):hover, #hero-banner .button-white:not(:hover):hover, #hero-banner .button-green:not(:hover):hover, #hero-banner .button-orange:not(:hover):hover {
    color: #444 !important; }

/* The following customer rules are for the individual customer page banner section in single-customer.php */

/* End of the single-customer.php banner styles */

/* ==========================================================================
ACF Section: 'Reference Quick Links' | reference-quick-links.php | we-slider.php
========================================================================== */

/* ==========================================================================
ACF Section: 'Get Started Column' | careers/get-started-block.php | carrers-get-started-block.php | customer-get-started-block.php | developer-get-started-block.php | developer-hadoop.php | get-started-block.php | partner-get-started-block.php | section_template_part/get-started-column.php | static_template_part/get-started-block.php | static_template_part/service-detail/get-started-column.php | static_template_part/top-form.php | training-get-started-block.php
========================================================================== */


/* ==========================================================================
ACF Section: 'events'
========================================================================== */

.darken {
    background: #707070;
    color: whitesmoke;
}
.disclaimer{
    font-size:16px;
}

.protocols-main {
    clear: both;
    color: #a82259;
    background: white;
}

.protocols-main .col-three h5 {
}

.protocols-main .col-three h6 {
    font-weight: 400; }

.protocols-main .three-col-row {
    background: none;
    overflow: hidden; }
@media screen and (max-width: 767px) {
    .protocols-main .three-col-row {
        height: auto; } }
.protocols-main .three-col-row .col-three {
    cursor: pointer;
    overflow: hidden; }
@media screen and (max-width: 767px) and (min-width: 481px) {
    .protocols-main .three-col-row .col-three {
        width: 100%;
        height: 300px; } }
@media screen and (max-width: 480px) {
    .protocols-main .three-col-row .col-three {
        height: 220px; } }
.protocols-main .three-col-row .col-three .move-up {
    padding: 0 10px;
    transform: translateY(0px);
    transition: all 0.5s ease; }
.protocols-main .three-col-row .col-three .hover-btn {
    opacity: 0;
    transform: translateY(-60px);
    transition: all 0.5s ease; }
@media screen and (max-width: 480px) {
    .protocols-main .three-col-row .col-three .hover-btn {
        transform: translateY(-30px); } }
.protocols-main .three-col-row .col-three:hover .move-up {
    transform: translateY(-30px); }
.protocols-main .three-col-row .col-three:hover .hover-btn {
    opacity: 1;
    transform: translateY(-120px); }
@media screen and (max-width: 767px) and (min-width: 481px) {
    .protocols-main .three-col-row .col-three:hover .hover-btn {
        transform: translateY(-90px); } }
@media screen and (max-width: 480px) {
    .protocols-main .three-col-row .col-three:hover .hover-btn {
        transform: translateY(-75px); } }
.protocols-main .three-col-row .v-middle-wrapper {
    background: rgba(255, 255, 255, 0); }
.protocols-main .three-col-row .v-middle-wrapper .v-middle-inner {
    max-width: 340px;
    margin: auto; }


/* ==========================================================================
ACF Section: 'intro-icon-block' | academic-training.php | certificate-section.php | intro-icon-block.php | services.php
========================================================================== */

/* ==========================================================================
ACF Section: 'Promo Block, View Section > View promo on homepage' | promo-section.php | promo-block.php | view-promo.php
========================================================================== */

/* ==========================================================================
ACF Section: 'View Section > View partner featured' | partner-resources.php | view-partner-featured.php
========================================================================== */

/* ==========================================================================
ACF Section: 'View Section > View partner classes' | classes-partners.php | partner-info-block-detail.php | product-page.php | view-partner-classes.php
========================================================================== */

@-moz-document url-prefix() { }

@-moz-document url-prefix() { }

/* ==========================================================================
ACF Section: 'View Section > View events, View event webcast, View on demand webcast' | events-demand-webcast.php | events-webcast.php | events.php | service-detail-block.php | hdfservices.php | hdpservices.php | hpservices.php | view-events-webcast.php | view-events.php | view-ondemand-webcast.php
========================================================================== */

/* firefix specific css	*/
@-moz-document url-prefix() { }

/* ==========================================================================
ACF Section: 'View Section > View event slider' | webinar-slider.php | view-event-slider.php | blog-slider.php
========================================================================== */

/* ==========================================================================
ACF Section: 'View Section > View news slider' | press-release-slider.php | view-news-slider.php
========================================================================== */

/* ==========================================================================
ACF Section: 'View Section > View social links' | social-media.php | view-social-links.php
========================================================================== */

/* ==========================================================================
ACF Section: 'View Section > View press release' | filter-press-release.php | view-press-release.php
========================================================================== */

/* ==========================================================================
ACF Section: 'View Section > View featured customers' | grid-customers.php | view-featured-customers.php
========================================================================== */

/* firefix specific css  */
@-moz-document url-prefix() { }

/* ==========================================================================
ACF Section: 'View Section > View Services' | services.php | view-services.php
========================================================================== */

/* ==========================================================================
ACF Section: 'View Section > View HDP projects, View HDF projects, View MDA projects' | developer-hadoop.php | view-hdp-projects.php | view-hdf-projects.php | view-mda-projects.php
========================================================================== */

/* ==========================================================================
ACF Section: 'Slate grey block' | slate-grey-block.php
========================================================================== */

/* ==========================================================================
ACF Section: 'Banner Second Level' | developer-hadoop.php | developer-top-banner.php | industry-top-banner.php | landing-top-banner.php | partner-top-banner.php | product-top-banner.php | section_template_part/banner-second-level.php | services-detail.php | services.php | solution-top-banner.php | static_template_part/downloads.php | static_template_part/landing-top-banner.php | static_template_part/solution-second-banner.php | training-top-banner.php
========================================================================== */
.hero-second-level h1 {
    color: white;
    line-height: 56px; }
@media screen and (max-width: 767px) {
    .hero-second-level h1 {
        line-height: inherit; } }

.hero-second-level .v-middle-wrapper {
    background: rgba(0, 0, 0, 0.3); }
.hero-second-level .v-middle-wrapper .v-middle-inner {
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto; }
.hero-second-level .v-middle-wrapper .v-middle-inner .v-middle img {
    max-height: 265px; }

.hero-second-level .bg-img {
    max-height: 344px;
    overflow: hidden; }
@media screen and (max-width: 767px) and (min-width: 480px) {
    .hero-second-level .bg-img {
        max-height: 280px; } }
.hero-second-level .bg-img img {
    width: 100%;
    position: relative; }

@media screen and (max-width: 1024px) {
    .hero-second-level .button-default {
        margin-top: 15px; }
    .hero-second-level h1 {
        line-height: 44px; } }

/* ==========================================================================
ACF Section: 'Slider Hero' | hero-slider.php | slider-hero.php
========================================================================== */

/* ==========================================================================
ACF Section: 'Intro Block' | introduction-section.php | introduction-section.php
========================================================================== */

.intro-block .content-960 {
    max-width: 960px;
    margin: 0 auto; }

/* ==========================================================================
ACF Section: 'Infographic Block' | infographic-block.php | developer-hadoop.php
========================================================================== */

/* ==========================================================================
ACF Section: 'CTA Block, Mid CTA Block' | cta-with-bg.php | cta-with-bg1.php | cta-block.php | mid-cta-block.php
========================================================================== */

/* ==========================================================================
ACF Section: 'Info Block, Info Icon Block' | benefit.php | developer-hadoop.php | info-block-detail.php | info-section.php | product-result-statistics.php | section_template_part/info-block.php | section_template_part/info-icon-block.php | section_template_part/infographic-block.php | section_template_part/statistics-block.php | services-detail.php | services.php | static_template_part/info-block-detail.php | static_template_part/info-section.php | static_template_part/service-detail/services-block.php
========================================================================== */

/* ==========================================================================
ACF Section: 'Column Four Block, Block Section > Block Product Features | block-developers-skill.php | developer-cta-bar.php | developer-grid-block.php | developer-skilled-block.php | column-four-block.php
========================================================================== */

/* ==========================================================================
ACF Section: 'CTA Bar' | cta-bar.php | developer-hadoop.php
========================================================================== */
.cta-bar {
    background-color: #c12766;
    background-image: linear-gradient(to right, #a82259, #c12766);
    padding: 19px 20px 15px 20px; }
@media screen and (max-width: 480px) {
    .cta-bar {
        padding: 15px 0; } }
.cta-bar p {
    font-weight: 700;
    color: white;
    display: inline-block;
    margin-right: 10px; }
@media screen and (max-width: 480px) {
    .cta-bar p {
        display: block;
        margin: 0;
        margin-bottom: 0; } }
.cta-bar span img {
    vertical-align: middle;
    margin-right: 5px; }
.cta-bar .button-white {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 16px 9px 21px; }

/* ==========================================================================
ACF Section: 'Media Detail' | media-detail.php
========================================================================== */

/* ==========================================================================
ACF Section: 'Info Image Block' | image-detail.php | info-image-block.php
========================================================================== */

/* ==========================================================================
ACF Section: 'Grid Text' | block-jumpstart-service.php | block-premier-service.php | block-service-stack.php | developer-links-block.php | grid-text-block.php | section_template_part/grid-text.php | services.php
========================================================================== */

/* ==========================================================================
ACF Section: 'Grid With Icon' | block-developers-skill.php | grid-with-icon.php | grid-section.php
========================================================================== */

/* ==========================================================================
ACF Section: 'Bullet Block' | benefit.php | bullet-list.php | bullet-block.php
========================================================================== */
.icon-content .text-container .img-text:last-of-type {
    margin-bottom: 0; }
@media screen and (max-width: 767px) {
    .icon-content .text-container .img-text:last-of-type {
        margin-bottom: 20px; } }

/* ==========================================================================
ACF Section: 'Slider Quotes' | quote-slider.php | slider-quotes.php | quote-slider-career.php
========================================================================== */

/* ==========================================================================
ACF Section: 'Secondary Fix Links' | career-quick-links.php | secondary-fix-links.php | developer-cta-bar.php | developer-hadoop.php | info-block-detail.php | learning-path.php | partner-info-block-detail.php | product-page.php | secondary-fix-links.php | services-detail.php | services.php | downloads.php | info-block-detail.php
========================================================================== */
.fixed-anchor {
    width: 100%;
    padding-top: 48px; }
.fixed-anchor ul {
    font-size: 0; }
.fixed-anchor ul li {
    display: inline-table;
    vertical-align: top;
    width: 149px;
    height: 51px;
    /*padding: 0 0 16px */
    position: relative;
    margin: 0px -4px 0 0;
    /*white-space: nowrap */
    text-align: center;
    border-bottom: 4px solid #dad9d6; }
.fixed-anchor ul li.active {
    border-bottom: 4px solid #c12766; }
.fixed-anchor ul li a {
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: black;
    font-size: 14px;
    line-height: 16px;
    display: table-cell;
    vertical-align: middle;
    padding: 0; }
@media screen and (max-width: 480px) {
    .fixed-anchor ul li a {
        letter-spacing: normal; } }
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .fixed-anchor {
        padding-top: 20px; } }

.fixed-links {
    text-align: center; }
.fixed-links.stick {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.35); }
.fixed-links ul {
    max-width: 900px;
    margin: 0 auto; }

.stick {
    background: whitesmoke;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 6; }

/* ==========================================================================
ACF Section: 'Blue Column Block, Full Blue Column Block' | content-carousel.php | developer-blue-boxes.php | product-blue-boxes.php | blue-column-block.php | full-blue-column-block.php | downloads.php
========================================================================== */

/* ==========================================================================
ACF Section: 'Reference Slider Column' | content-carousel.php | product-slider.php | reference-slider-column.php
========================================================================== */

/* ==========================================================================
ACF Section: 'Reference Featured Post' | blog-featured-block.php | featured-events.php | reference-featured-post.php
========================================================================== */

/* ==========================================================================
ACF Section: 'Reference Customer Featured Resources' | reference-customer-featured-resources.php
========================================================================== */

/* ==========================================================================
ACF Section: 'Reference Customer Resources' | customer-landing.php | reference-customer-resources.php |
========================================================================== */

/* ==========================================================================
ACF Section: 'Image Grid' | video-slider.php | image-grid.php | services.php
========================================================================== */

/* ==========================================================================
ACF Section: 'Block Section > Block Product Features' | block-product-features.php | product-page.php
========================================================================== */

/* ==========================================================================
ACF Section: 'Block Section > Block Developers New, What's New in HDF' | block-developers-new.php | What-s-new-in-hdf.php | scroll-slider.php
========================================================================== */

/* ==========================================================================
ACF Section: 'Block Section > Block Learning Paths' | block-learning-paths.php | developer-links-block.php | learning-path.php | product-page.php |
========================================================================== */

/* ==========================================================================
ACF Section: 'Tab Content' | product-tabs.php | tab-content.php
========================================================================== */

/* firefix specific css	*/
@-moz-document url-prefix() { }

/* ==========================================================================
ACF Section: 'Reference Developer Featured' | reference-developer-featured.php | featured-block.php
========================================================================== */
.events-section {
    padding: 0; }

/* ==========================================================================
ACF Section: 'Service Detail Block' | service-detail-block.php | hdfservices.php | hdpservices.php | hpservices.php
========================================================================== */

/* ==========================================================================
ACF Section: 'Case Study Component' | case-study-component.php
========================================================================== */

/* ==========================================================================
ACF Section: 'Tabbed Accordion' | tabbed-accordion.php
========================================================================== */

/* ==========================================================================
Webinar Block: webinar-block.php
========================================================================== */

/* ===========================================================================
Grid With Image ( used originally in the contact us page
============================================================================== */

/* Disclaimer */
.disclaimer {
    padding: 5px 0; }

/* ==========================================================================
ACF Section: 'Highlight Box' | highlight-box.php
========================================================================== */

/* left_col_block_right_cal_multiple_rows RULES */

.main-navigation {
    position: relative;
    float: left;
    width: 100%;
    border-bottom: 1px solid #dad9d6; }

.logo {
    width: 100%;
    max-width: 154px;
    padding-top: 15px;
    float: left;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translate3d(0, 0, 0); }
.logo a {
    display: block; }
.logo a img {
    width: 100%; }

.tag-line {
    background: white;
    padding-left: 20px;
}

nav .tag-line {
    float: left;
    vertical-align: middle;
    line-height: inherit;
    display: inline-block;
    margin: 0;
    padding: 0; }

.menu-wrapper {
    background: white;
    padding-left: 20px; }

nav .main-menu {
    float: right;
    margin: 0;
    padding: 0; }
nav .main-menu > li {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    line-height: inherit;
    margin-right: -4px; }
nav .main-menu > li > a {
    color: #404041;
    position: relative;
    padding: 3px 18px 30px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 20px; }
nav .main-menu > li > a:hover {
    color: #c12766; }
nav .main-menu > li > a:hover:after {
    bottom: 0px;
    opacity: 1;
    height: 6px;
    transition: all 0.2s ease-in-out;
    -webkit-transform: translate3d(0, 0, 0); }
nav .main-menu > li > a:after {
    content: "";
    height: 0px;
    background: #c12766;
    position: absolute;
    bottom: 0px;
    width: 70%;
    width: calc(100% - 36px);
    left: 18px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    -webkit-transform: translate3d(0, 0, 0); }
nav .main-menu > li:last-of-type {
    padding: 20px 0px 21px 18px;
    margin: 0; }
nav .main-menu > li .button-default {
    margin-top: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 152px;
    height: 43px;
    padding: 0;
    cursor: pointer; }
@media screen and (min-width: 768px) and (max-width: 1023px) {
    nav .main-menu > li .button-default {
        width: 130px;
        font-size: 15px; } }
@media screen and (max-width: 767px) {
    nav .main-menu > li .button-default {
        width: 280px;
        height: 51px;
        font-size: 14px;
        font-weight: 300;
    }
}
nav .main-menu .arrow-menu > a:hover:after {
    opacity: 0;
    bottom: 0;
    height: 6px; }
nav .main-menu .arrow-menu > a:hover:before {
    content: "";
    background: url(../img/active_menu_arrow.png) no-repeat;
    position: absolute;
    bottom: -1px;
    width: 23px;
    height: 11px;
    left: calc(50% - 12px); }

.drop-menu {
    display: none;
    position: absolute;
    width: 100%;
    background: white;
    padding: 55px 60px 70px;
    left: 0;
    top: 85px;
    z-index: 6; }

.menu-column .submenu-head > a {
    display: inline-block;
    position: relative;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    line-height: 41px;
    color: #404041;
    text-transform: capitalize;
    font-weight: 700; }
.menu-column .submenu-head > a:before {
    content: "";
    width: 10px;
    height: 16px;
    position: absolute;
    right: -15px;
    top: 13px;
    opacity: 0;
    transition: all 0.2s ease;
    -webkit-transform: translate3d(0, 0, 0); }
@media screen and (max-width: 767px) {
    .menu-column .submenu-head > a:before {
        top: 8px; } }
.menu-column .submenu-head > a:after {
    content: "";
    background: #c12766;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    opacity: 0;
    transition: all 0.2s ease;
    -webkit-transform: translate3d(0, 0, 0); }
.menu-column .submenu-head > a:hover:before {
    opacity: 1; }
.menu-column .submenu-head > a:hover:after {
    opacity: 1;
    bottom: 2px; }

.menu-column .submenu {
    margin-top: 15px; }
.menu-column .submenu ul {
    border-left: 1px solid #dad9d6;
    padding-left: 21px; }
.menu-column .submenu li {
    margin-bottom: 19px; }
.menu-column .submenu li:last-of-type {
    margin-bottom: 0;
    padding-right: 20px;
    margin-bottom: 10px; }
.menu-column .submenu li a {
    display: inline-block;
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #404041;
    text-transform: capitalize;
    font-weight: 300; }
.menu-column .submenu li a:after {
    content: "";
    background: #c12766;
    position: absolute;
    left: 0;
    bottom: -10px;
    opacity: 0;
    width: 100%;
    height: 2px;
    transition: all 0.2s ease;
    -webkit-transform: translate3d(0, 0, 0); }
.menu-column .submenu li a:before {
    content: "";
    width: 8px;
    height: 12px;
    position: absolute;
    right: -15px;
    top: 4px;
    opacity: 0;
    transition: all 0.2s ease;
    -webkit-transform: translate3d(0, 0, 0); }
@media screen and (max-width: 767px) {
    .menu-column .submenu li a:before {
        top: 9px; } }
.menu-column .submenu li a:hover:after {
    bottom: -5px;
    opacity: 1; }
.menu-column .submenu li a:hover:before {
    opacity: 1;
    transition: all 0.2s ease;
    -webkit-transform: translate3d(0, 0, 0); }

.main-menu .drop-menu {
    box-shadow: 0 5px 12px -2px; }

nav .main-menu > li.mobile-only {
    display: none; }

/* css after menu fixed */
.toggle {
    display: none; }

@media screen and (max-width: 767px) {
    nav .main-menu > li.mobile-only {
        display: block; }
    .toggle {
        display: block; }
    .main-navigation {
        height: 71px; }
    .main-navigation .wrapper {
        padding: 0px 19px; }
    .logo {
        width: 110px; }
    .toggle {
        display: block;
        position: relative;
        width: 30px;
        float: right;
        margin-top: 26px;
        cursor: pointer; }
    .toggle span {
        display: block;
        width: 30px;
        height: 4px;
        background: #c12766;
        margin-bottom: 3px;
        transition: all 0.3s ease-in-out;
        -webkit-transform: translate3d(0, 0, 0); }
    .toggle span:last-of-type {
        margin-bottom: 0; }
    .menu-wrapper {
        display: block;
        background: white;
        width: 100%;
        position: absolute;
        left: 0;
        top: 71px;
        z-index: 9;
        padding-left: 0;
        overflow: scroll; }
    nav {
        width: 100px;
    }
    nav .wrapper {
        padding: 0 20px; }
    nav .main-menu {
        float: right;
        background: #e8e8e8;
        /*width: 100% */
        margin: 0;
        margin-bottom: 30px; }
    nav .main-menu > li {
        display: block;
        float: none;
        padding: 14px 0px;
        margin: 0; }
    nav .main-menu > li:last-of-type {
        background: white;
        text-align: center;
        padding-left: 0; }
    nav .main-menu > li > a {
        margin-left: 20px;
        padding: 3px 0 14px;
        font-size: 18px;
        line-height: 24px; }
    nav .main-menu > li > a:after {
        bottom: 8px !important; }
    nav .main-menu > li .button-default {
        margin-top: 20px; }
    nav .main-menu .arrow-menu > a:hover:before {
        bottom: 0px; }
    nav .main-menu .submenu-head > a {
        font-size: 16px;
        line-height: 28px; }
    .menu-column .submenu {
        margin-top: 8px;
        margin-bottom: 28px; }
    .menu-column .submenu ul {
        border: 0;
        padding: 0; }
    .menu-column .submenu ul li {
        margin-bottom: 10px; }
    .drop-menu {
        position: relative;
        width: auto;
        top: 14px;
        padding: 20px 0px;
        border: 0;
        margin: 0; }
    .drop-menu .col-two,
    .drop-menu .col-three,
    .drop-menu .col-four {
        width: 100%; }
    .menu-column .submenu li a {
        font-weight: 300; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .menu-wrapper {
        padding: 0; }
    nav .main-menu > li {
        padding: 0; }
    nav .main-menu > li a {
        font-size: 18px;
        padding: 3px 10px 32px;
        padding-bottom: 32px;
        line-height: 22px; }
    nav .main-menu > li a:after {
        left: 10px;
        width: calc(100% - 20px); }
    nav .main-menu > li:last-of-type {
        padding: 20px 0px 21px 0px; }
    .drop-menu {
        padding: 35px 0 33px; }
    .menu-column .submenu-head > a {
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 18px; }
    .menu-column .submenu-head > a:before {
        background-size: cover;
        width: 8px;
        height: 14px;
        top: 4px; }
    .menu-column .submenu-head > a:after {
        bottom: 9px !important; }
    .menu-column .submenu {
        margin-top: 10px; }
    .menu-column .submenu li {
        margin-bottom: 10px;
        padding-right: 20px; }
    .menu-column .submenu li a {
        font-size: 14px;
        line-height: 17px;
        font-weight: 300;
        padding-bottom: 0px; } }

@media screen and (max-width: 767px) {
    header .menu-wrapper {
        display: none; } }

@media screen and (max-width: 767px) {
    header .breadcrumbs {
        display: none; } }




nav .breadcrumbs {
    float: left;
    width: 100%;
}

nav.breadcrumbs.bootstrap {
    /* from Twitter Bootstrap 4 */
    /* If you already use Twitter, you do not need these css lines above, cause they already in Twitter Bootstrap */
    /* Additions: image integration */
}
nav.breadcrumbs.bootstrap ol {
    margin-left: 0
}
nav.breadcrumbs.bootstrap .breadcrumb {
    font-size: 1rem;
    padding: 0.75rem 1rem;
    list-style: none;
    border-radius: 0.25rem;
    background-color: transparent;
}
nav.breadcrumbs.bootstrap .breadcrumb::after {
    content: "";
    display: table;
    clear: both;
}
nav.breadcrumbs.bootstrap .breadcrumb-item {
    float: left;
}
nav.breadcrumbs.bootstrap .breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #818a91;
    content: "/";
}
nav.breadcrumbs.bootstrap .breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration: underline;
}
nav.breadcrumbs.bootstrap .breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration: none;
}
nav.breadcrumbs.bootstrap .breadcrumb-item-active {
    color: #818a91;
}

nav.breadcrumbs.bootstrap .breadcrumb a.breadcrumb-item:after {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    content: "/";
    text-decoration: none;
}
nav.breadcrumbs.bootstrap .breadcrumb .icon:after {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #818a91;
    content: "/";
}
nav.breadcrumbs.bootstrap .breadcrumb .icon {
    display: inline-block;
}
nav.breadcrumbs.bootstrap .breadcrumb .icon svg {
    height: 0.7rem;
    width: 0.7rem;
}


.breadcrumb {
    float: left;
    color: #c12766;
    padding: 10px 0 0 8px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 12px;
    letter-spacing: 0.049em;
    font-weight: 700; }
.breadcrumb a {
    color: #404041;
    text-decoration: none;
    transition: all 0.3s ease; }
.breadcrumb a:hover {
    color: #c12766; }

.benefits {
    height: 384px;
}

@media only screen and (max-width: 900px) {
    .col-four {
        width: 100%; } }

@media only screen and (max-width: 840px) {
    .col-four {
        width: 50%; } }

button {
    font-family: inherit;
    line-height: inherit; }


@media screen and (min-width: 1280px) and (max-width: 1399px) {
    .products-menu .drop-menu {
        right: 50px; }
    .clients-menu .drop-menu {
        right: 50px; }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .training-menu .drop-menu {
        width: 100%;
        right: 0;
        left: auto; }
    .products-menu .drop-menu {
        width: 100%;
        right: 0;
        left: auto; }
    .clients-menu .drop-menu {
        width: 100%;
        right: 0;
        left: auto; }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .products-menu .drop-menu {
        padding: 35px 0 50px;
        left: auto;
        right: 0;
        width: 100%; }
    .clients-menu .drop-menu {
        padding: 35px 0 50px;
        left: auto;
        right: 0;
        width: 100%; }
    .training-menu .drop-menu {
        padding: 35px 0 50px;
        left: auto;
        right: 0;
        width: 100%; }
    .menu-column .submenu ul {
        padding-left: 5px; } }

@media screen and (min-width: 1280px) and (max-width: 1399px) {
    .wrapper {
        padding: 0 20px; } }

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    section {
        padding: 70px 0; }
    .wrapper {
        padding: 0 20px; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
    section {
        padding: 60px 0; }
    .wrapper {
        padding: 0 20px; }
    h1 {
        font-size: 40px; }
    h5 {
        font-size: 20px;
        line-height: 22px; }
    p {
        font-size: 16px;
        line-height: 20px; } }

@media screen and (min-width: 667px) and (max-width: 767px) {
    .wrapper {
        padding: 0 20px; }
    h1 {
        font-size: 34px; }
    h5 {
        font-size: 18px; }
    p {
        font-size: 16px;
        line-height: 20px; }
    .button-default, .button-white, .button-maroon, .cta-bar .button-white {
        padding: 9px 11px;
        font-size: 12px;
        line-height: 12px; } }

@media screen and (min-width: 480px) and (max-width: 666px) {
    .wrapper {
        padding: 0 20px; }
    h1 {
        font-size: 30px; }
    h5 {
        font-size: 18px;
        line-height: 20px; }
    h6 {
        font-size: 16px; }
    p {
        font-size: 16px;
        line-height: 18px; }
    .col-two, .col-three {
        width: 100%; }
    .button-default, .button-white, .button-maroon, .cta-bar .button-white {
        padding: 9px 11px;
        font-size: 12px;
        margin-top: 15px;
        line-height: 12px; }
    .hero-second-level .bg-img {
        height: 250px; }
    .hero-second-level .bg-img img {
        width: auto; } }

@media screen and (max-width: 767px) {
    section,
    .events-section {
        padding: 50px 0; } }

@media screen and (max-width: 480px) {
    section,
    .events-section {
        padding: 40px 0; }
    .wrapper {
        padding: 0 20px; }
    h1 {
        font-size: 26px; }
    h5 {
        font-size: 16px;
        line-height: 18px; }
    h6 {
        font-size: 16px; }
    p {
        font-size: 16px;
        line-height: 18px; }
    .col-two, .col-three {
        width: 100%; }
    .button-default, .button-white, .cta-bar .button-white {
        padding: 8px 10px;
        font-size: 12px;
        margin-top: 15px;
        line-height: 12px; }
    .v-middle-inner {
        padding: 0 20px; }
    .hero-second-level .bg-img {
        height: 250px; }
    .hero-second-level .bg-img img {
        width: auto; } }

@media screen and (min-width: 1400px) {
    section {
        padding: 92px 0 100px; } }

@media screen and (min-width: 1280px) {
    .main-nav .wrapper {
        position: relative; }
    .training-menu .drop-menu {
        padding: 55px 0 70px 30px;
        right: 0;
        width: 1175px;
        left: auto; }
    .products-menu .drop-menu {
        padding: 55px 0 70px 30px;
        right: 100px;
        width: 1175px;
        left: auto; }
    .clients-menu .drop-menu {
        padding: 55px 0 70px 30px;
        right: 100px;
        width: 1175px;
        left: auto; }
}

@media screen\0 {
    img {
        border: 0; } }





.markdown-section * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: inherit
}

.markdown-section>:first-child {
    margin-top: 0!important
}

.markdown-section>:last-child {
    margin-bottom: 0!important
}

.markdown-section blockquote,
.markdown-section code,
.markdown-section figure,
.markdown-section img,
.markdown-section pre,
.markdown-section table,
.markdown-section tr {
    page-break-inside: avoid
}

.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section p {
    orphans: 3;
    widows: 3
}

.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5 {
    page-break-after: avoid
}

.markdown-section b,
.markdown-section strong {
    font-weight: 700
}

.markdown-section em {
    font-style: italic
}

.markdown-section blockquote,
.markdown-section dl,
.markdown-section ol,
.markdown-section p,
.markdown-section table,
.markdown-section ul {
    margin-top: 0;
    margin-bottom: .85em
}

.markdown-section a {
    color: #c12766;
    text-decoration: none;
    background: 0 0
}

.markdown-section a:active,
.markdown-section a:focus,
.markdown-section a:hover {
    outline: 0;
    text-decoration: underline
}

.markdown-section img {
    border: 0;
    max-width: 100%
}

.markdown-section hr {
    height: 4px;
    padding: 0;
    margin: 1.7em 0;
    overflow: hidden;
    background-color: #e7e7e7;
    border: none
}

.markdown-section hr:after,
.markdown-section hr:before {
    display: table;
    content: " "
}

.markdown-section hr:after {
    clear: both
}

.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section h6 {
    margin-top: 1.275em;
    margin-bottom: .85em;
    font-weight: 700
}

.markdown-section h1 {
    font-size: 2em
}

.markdown-section h2 {
    font-size: 1.75em
}

.markdown-section h3 {
    font-size: 1.5em
}

.markdown-section h4 {
    font-size: 1.25em
}

.markdown-section h5 {
    font-size: 1em
}

.markdown-section h6 {
    font-size: 1em;
    color: #777
}

.markdown-section code,
.markdown-section pre {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    direction: ltr;
    margin: 0;
    padding: 0;
    border: none;
    color: inherit
}

.markdown-section pre {
    overflow: auto;
    word-wrap: normal;
    margin: 0;
    padding: .85em 1em;
    margin-bottom: 1.275em;
    background: #f7f7f7
}

.markdown-section pre>code {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    font-size: .85em;
    white-space: pre;
    background: 0 0
}

.markdown-section pre>code:after,
.markdown-section pre>code:before {
    content: normal
}

.markdown-section code {
    padding: .2em;
    margin: 0;
    font-size: .85em;
    background-color: #f7f7f7
}

.markdown-section code:after,
.markdown-section code:before {
    letter-spacing: -.2em;
    content: "\00a0"
}

.markdown-section table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: auto
}

.markdown-section table td,
.markdown-section table th {
    padding: 6px 13px;
    border: 1px solid #ddd
}

.markdown-section table tr {
    background-color: #fff;
    border-top: 1px solid #ccc
}

.markdown-section table tr:nth-child(2n) {
    background-color: #f8f8f8
}

.markdown-section table th {
    font-weight: 700
}

.markdown-section ol,
.markdown-section ul {
    padding: 0;
    margin: 0;
    margin-bottom: .85em;
    padding-left: 2em
}

.markdown-section ol ol,
.markdown-section ol ul,
.markdown-section ul ol,
.markdown-section ul ul {
    margin-top: 0;
    margin-bottom: 0
}

.markdown-section ol ol {
    list-style-type: lower-roman
}

.markdown-section ul li {
    list-style-type: square;
}

.markdown-section blockquote {
    margin: 0;
    margin-bottom: .85em;
    padding: 0 15px;
    color: #858585;
    border-left: 4px solid #e5e5e5
}

.markdown-section blockquote:first-child {
    margin-top: 0
}

.markdown-section blockquote:last-child {
    margin-bottom: 0
}

.markdown-section dl {
    padding: 0
}

.markdown-section dl dt {
    padding: 0;
    margin-top: .85em;
    font-style: italic;
    font-weight: 700
}

.markdown-section dl dd {
    padding: 0 .85em;
    margin-bottom: .85em
}

.markdown-section dd {
    margin-left: 0
}

.markdown-section .glossary-term {
    cursor: help;
    text-decoration: underline
}


/* Imports */

@font-face { }

@font-face { }

@media print {
    @page { } }